$dropdown-bg: #303C54;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: rgba(71, 83, 117, 0.98);
$dropdown-link-color: $white;

$navbar-light-color: $white;
$navbar-light-hover-color: $white;
$navbar-light-disabled-color: $white;
$navbar-light-active-color: $white;
